/*==========================================
              WHY VOLUNTEER? SECTION
============================================*/

.volunteer-section {
  /* background: url(../../images/bg-img/bg-img-2.webp); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.content {
  max-width: 600px;
}

.content h2 {
  font-size: clamp(30px, 5vw, 52px);
  font-weight: 700;
  margin-bottom: 16px;
}
.content h2 span {
  font-style: italic;
  color: #f26430;
}

.subtitle {
  color: #4b5563;
  margin-bottom: 40px;
}

.features {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}

.feature {
  display: flex;
  gap: 12px;
}

.feature .icon {
  width: 40px;
  height: 40px;
}

.feature p {
  color: #333;
  line-height: 1.6;
}

.image-box {
  position: relative;
}

.image-box img {
  max-width: 420px;
  width: 100%;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

/* Responsive */
@media (max-width: 1024px) {
  .volunteer-section {
    flex-direction: column;
    padding: 40px;
  }

  .features {
    grid-template-columns: 1fr;
  }

  .image-box img {
    width: 100%;
  }
}

/*=======================================
             VOLUNTEER FORM
=========================================*/
.volunteer-form-section {
  background: #f4f8f7;
}

.volunteer-container {
  max-width: 1024px;
  margin: auto;
  background: #fff;
  padding: 2.5rem;
  border-radius: 14px;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.08);
}

.volunteer-container h2 {
  font-size: clamp(30px, 5vw, 52px);
  margin-bottom: 0.5rem;
  text-align: center;
}

.volunteer-container p {
  text-align: center;
  margin-bottom: 2rem;
  color: #555;
}

.volunteer-form .form-group {
  margin-bottom: 1.2rem;
}

.form-row {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 3rem;
}


/*RESPONSIVE FOR TABLET AND MOBILE*/

@media (max-width: 900px) {
  .volunteer-container {
    padding: 8px;
  }
}

@media (max-width: 576px) {
  .form-row {
    gap: 3px;
  }
}
